@import url('https://fonts.googleapis.com/css?family=Cinzel');

.body {
    background-color: black;
    
}

#startup {
    font-family: 'Cinzel', serif;
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem;
}

.login {
    font-family: 'Cinzel', serif;
    color: red;
}

.pageTitle {
    width: 100vw;
    height: 15vh;
    margin-top: .5rem;
    font-family: 'Cinzel', serif;
    font-size:4rem;
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.centeredContainer {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.postHeader {
    font-family: 'Cinzel', serif;
    font-size:3rem;
    color: red;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: red;
    width: 65vw;
    margin: 0.5 rem 0;
    padding: 0.5rem;
    height: fit-content;
    border-radius: 1rem;
}

/* .post {
    background-color: red;
    width: 65vw;
    margin: 0.5 rem 0;
    padding: 0.5rem;
    height: fit-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.postInfo {
    background-color: white;
    width: 62vw;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}