@import url('https://fonts.googleapis.com/css?family=Cinzel');

* {
    box-sizing: border-box;
    margin: 0;
    background-color: black;
}

.body{
    background-color: black;
    width: 100vw
}

#startup {
    font-family: 'Cinzel', serif;
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem;
}

.login {
    font-family: 'Cinzel', serif;
    color: red;
}

.pageTitle {
    width: 100vw;
    height: 15vh;
    margin-top: 2rem;
    font-family: 'Cinzel', serif;
    font-size:4rem;
    color: red;
    border: red solid 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    box-shadow: inset 0px 1px 0px 0px red;
    background-color: rgb(230, 226, 226);
    border: 1px solid red;
    display: inline-block;
    cursor: pointer;
    color: red;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.centeredContainer {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.postHeader {
    font-family: 'Cinzel', serif;
    font-size:3rem;
    color: red;
    top: 20px;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
}

.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: red;
    width: 55vw;
    margin: 1.4em;
    padding: 0.5rem;
    height: fit-content;
    border-radius: 1rem;
}

.postInfo h3{
    font-weight: bolder;
    font-size: large;
}

/* .post {
    background-color: red;
    width: 65vw;
    margin: 0.5 rem 0;
    padding: 0.5rem;
    height: fit-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.postInfo {
    background-color: rgb(230, 226, 226);
    width: 52vw;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: red solid 2px;
}

nav a{
    text-decoration: none;
    color: red;
    border: red solid 2px;
    padding-top: 1;
    background-color: rgb(186, 156, 156);
}

input{
    background-color: rgb(186, 156, 156);
}